@model Koshi.ViewModels.Checkout
@{
	ViewBag.Title = "Index";
}

<h2>Checkout</h2>
<h3>Review item and shipping</h3>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="row cart-body">

	@using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { @class = "form-horizontal" }))
	{
		@Html.Action("ReviewOrder")
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
			<!--SHIPPING METHOD-->
			<div class="panel panel-info">
				<div class="panel-heading">Address</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-md-12">
							<h4>Shipping Address</h4>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-xs-12">
							<strong>First Name:</strong>
							@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.LastName)
						</div>
						<div class="span1"></div>
						<div class="col-md-6 col-xs-12">
							<strong>Last Name:</strong>
							@Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.LastName)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Address:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.Address)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>City:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.City, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.City)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>State:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.State, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.State)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Country:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.Country)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.ZipCode)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Phone Number:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.PhoneNumber)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Email Address:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.EmailAddress)
						</div>
					</div>
				</div>
			</div>
			<!--SHIPPING METHOD END-->
			<!--CREDIT CART PAYMENT-->
			<div class="panel panel-info">
				<div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-md-12"><strong>Card Type:</strong></div>
						<div class="col-md-12">
							@Html.DropDownListFor(x => x.CardType, new List<SelectListItem>
								{
									new SelectListItem() {Text = "Visa", Value="1"},
									new SelectListItem() {Text = "MasterCard", Value="2"},
									new SelectListItem() {Text = "American Express", Value="3"},
									new SelectListItem() {Text = "Discover", Value="4"}
								}, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.CardType)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Credit Card Number:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.CreditCardNumber, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.CreditCardNumber)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><strong>Card CVV:</strong></div>
						<div class="col-md-12">
							@Html.TextBoxFor(x => x.CardCVV, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.CardCVV)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<strong>Expiration Date</strong>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							@Html.DropDownListFor(x => x.ExpirationDateMonth, new List<SelectListItem>
								{
									new SelectListItem() {Text = "Month", Value=""},
									new SelectListItem() {Text = "01", Value="1"},
									new SelectListItem() {Text = "02", Value="2"},
									new SelectListItem() {Text = "03", Value="3"},
									new SelectListItem() {Text = "04", Value="4"},
									new SelectListItem() {Text = "05", Value="5"},
									new SelectListItem() {Text = "06", Value="6"},
									new SelectListItem() {Text = "07", Value="7"},
									new SelectListItem() {Text = "08", Value="8"},
									new SelectListItem() {Text = "09", Value="9"},
									new SelectListItem() {Text = "10", Value="10"},
									new SelectListItem() {Text = "11", Value="11"},
									new SelectListItem() {Text = "12", Value="12"}
								}, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.ExpirationDateMonth)
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							@Html.DropDownListFor(x => x.ExpirationYear, new List<SelectListItem>
								{
									new SelectListItem() {Text = "Year", Value=""},
									new SelectListItem() {Text = "2017", Value="2017"},
									new SelectListItem() {Text = "2018", Value="2018"},
									new SelectListItem() {Text = "2019", Value="2019"},
									new SelectListItem() {Text = "2020", Value="2020"},
									new SelectListItem() {Text = "2021", Value="2021"},
									new SelectListItem() {Text = "2022", Value="2022"}
								}, new { @class = "form-control" })
							@Html.ValidationMessageFor(x => x.ExpirationYear)
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<span>Pay secure using your credit card.</span>
						</div>
						<div class="col-md-12">
							<ul class="cards">
								<li class="visa hand">Visa</li>
								<li class="mastercard hand">MasterCard</li>
								<li class="amex hand">Amex</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<!--CREDIT CART PAYMENT END-->
		</div>
	}
</div>