@model IEnumerable<Koshi.Models.Order>
@{
    ViewBag.Title = "Index";
}

<h2>Customer's Order</h2>

<p><span style="color:green;"> This page shows all orders</span></p>
<!-- customers order list page-->
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CustomerID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OrderID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.SubTotal)

		</th>
		<th>
			@Html.DisplayNameFor(model => model.Tax)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Total)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CustomerID)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.OrderID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SubTotal)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Total)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Total)
			</td>
			<td>
				@Html.ActionLink("Details", "OrderDetails", new { id = item.OrderID }) 
			</td>
		</tr>
	}

</table>
